* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  margin-left: 250px;
  margin-right: 250px;
  padding: 50px;
  border: 6px solid black;
  background-color: rgb(150, 208, 222);
}

.top-section {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 150px;
}
